/* Webfont: Merchant-BlackCondensed */@font-face {
    font-family: 'MerchantBlackCond';
    src: url('Merchant-BlackCondensed.eot'); /* IE9 Compat Modes */
    src: url('Merchant-BlackCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Merchant-BlackCondensed.woff') format('woff'), /* Modern Browsers */
         url('Merchant-BlackCondensed.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-BlackCondensed.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

