/* Webfont: Merchant-LightCondensed */@font-face {
    font-family: 'MerchantLightCond';
    src: url('Merchant-LightCondensed.eot'); /* IE9 Compat Modes */
    src: url('Merchant-LightCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Merchant-LightCondensed.woff') format('woff'), /* Modern Browsers */
         url('Merchant-LightCondensed.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-LightCondensed.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

