/* Webfont: Merchant-MediumExpanded */@font-face {
    font-family: 'MerchantMedExp';
    src: url('Merchant-MediumExpanded.eot'); /* IE9 Compat Modes */
    src: url('Merchant-MediumExpanded.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Merchant-MediumExpanded.woff') format('woff'), /* Modern Browsers */
         url('Merchant-MediumExpanded.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-MediumExpanded.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

